---
// Redirect /docs to /docs/getting-started
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/docs/getting-started/" />
    <title>Cerno Docs</title>
  </head>
  <body>
    <p>Redirecting to <a href="/docs/getting-started/">Cerno Docs</a></p>
  </body>
</html>
